{% load i18n %}
{% spaceless %}
<tr>
    <td>
       <a href="{% url 'server_run:server-run_list_scheduled' scheduled.uuid %}">#{{ scheduled.id }}</a>
    </td>
    {% if not server_run.stopped %}
        <td>00:01 {% trans "Every day" %}</td>
    {% else %}
        <td></td>
    {% endif %}

    <td>{{ scheduled.test_scenario.name }}</td>
    <td>{{ scheduled.environment.name }}</td>
    <td>
        {% if scheduled.last_run %}
            {{ scheduled.last_run }}
        {% endif %}
    </td>
    <td>
        {% if scheduled.active %}
            <a type="submit" class="btn btn-primary"  href="{% url 'server_run:server-run_trigger' scheduled.uuid %}">{% trans "Fire now" %}</a>
            <a type="submit" class="btn btn-primary btn-danger"  href="{% url 'server_run:schedule_activate' scheduled.uuid %}">{% trans "Deactivate" %}</a>
        {% else %}
            <a type="submit" class="btn btn-primary btn-success"  href="{% url 'server_run:schedule_activate' scheduled.uuid %}">{% trans "Reactivate" %}</a>
        {% endif %}
    </td>
    <td>
        {% comment %} <span display="block" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">
            <a href="{% url 'server_run:server-run_detail' server_run.uuid %}">
                <img style="height:30px"  alt="" src="https://img.shields.io/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url 'apiv1server:api_server-run-shield' server_run.uuid %}">
            </a>
        </span> {% endcomment %}
    </td>
</tr>
{% endspaceless %}
