{% load i18n %}
{% spaceless %}
<tr>
    <td>
       <a href="{% url 'server_run:server-run_list' scenario.api.id scenario.uuid environment.uuid %}">#{{ environment.id }}</a>
    </td>

    <td>{{ scenario.name }}</td>
    <td>{{ environment.name }}</td>
    <td>
        {% if last_run %}
            {{ last_run|date:"N j, Y, H:i" }}
        {% else %}
            {% trans "No stopped runs yet" %}
        {% endif %}
    </td>
    <td>
        {% if last_run %}
            <span display="block" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">
                <a href="{% url 'server_run:server-run_latest' scenario.api.id scenario.uuid environment.uuid %}">
                    <img style="height:30px"  alt="" src="{{shields_url}}/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url 'apiv1server:latest-badge' environment.uuid %}">
                </a>
            </span>
        {% else %}
            No results yet
        {% endif %}
    </td>
</tr>
{% endspaceless %}
