{% load i18n %}
{% spaceless %}
    <tr>
        <td>
        <a href="{% url 'server_run:server-run_detail_uuid' server_run.uuid %}">#{{ server_run.id }}</a>
        </td>
        <td>
            {% if server_run.status == choices.running %}
                <span class="badge badge-pill badge-success">{% trans "Running" %}</span>
            {% elif server_run.status == choices.starting %}
                <span class="badge badge-pill badge-light">{% trans "Starting" %}</span>
            {% elif server_run.status == choices.stopped %}
                <span class="badge badge-pill badge-secondary">{% trans "Stopped" %}</span>
            {% elif server_run.status == choices.error_deploy %}
                <span class="badge badge-pill badge-danger">{% trans "Error during deployment" %}</span>
            {% else %}
                <span class="badge badge-pill badge-dark">{{ server_run.status }}</span>
            {% endif %}
        </td>
        {% if server_run.stopped %}
            <td>{{ server_run.stopped }}</td>
        {% else %}
            <td></td>
        {% endif %}
    <td>{{ server_run.test_scenario.name }}</td>
    <td>
        {% if server_run.success is not None %}
            {% if server_run.success  %}
                <p class='icon icon--checkmark'></p>
            {% elif not server_run.success  %}
                <p class='icon icon--cross'></p>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% with server_run.postmantestresult_set.first.get_call_results as results %}
            {% if server_run.success is not None %}
                {{results.0}}<i class="cui-circle-check "></i>
                {{results.1}}<i class="cui-circle-x "></i>
            {% endif %}
        {% endwith %}
</tr>
{% endspaceless %}
