{% load i18n %}

{% spaceless %}
<tr>
    <td>{% trans "Session" %}</td>
    <td>{{ server_run.pk }}</td>
</tr>

<tr>
    <td>{% trans "Test Scenario" %}</td>
    <td>
        <div class='col-xs-1'>
            {% comment %} <div class='row'> {% endcomment %}
                <input type="button" class="btn btn-primary" value="{% trans "Description" %}"
                    onclick="location.href = '{% url 'server_run:testscenario-detail' server_run.test_scenario.pk  %}';">
            {% comment %} </div> {% endcomment %}
                {% for pc in server_run.test_scenario.postmantest_set.all %}
                {% comment %} <div class='row'> {% endcomment %}
                    <a class="btn btn-light btn-margin" href="{% url 'server_run:postman_download' pc.pk %}">Download {{ server_run.test_scenario }}</a>
                {% comment %} </div> {% endcomment %}
                {% endfor %}

        </div>
    </td>
</tr>
{% for ep in server_run.endpoint_set.all %}
    <tr>
        <td>{{ ep.test_scenario_url.name }}</td>
        <td>{{ ep.url }}</td>
    </tr>
{% endfor %}

<tr>
    <td>{% trans "Started" %}</td>
    <td>{{ server_run.started }}</td>
</tr>
{% if server_run.stopped %}
    <tr>
        <td>Stopped</td>
        <td>{{ server_run.stopped }}</td>
    </tr>
{% endif %}

{% if server_run.scheduled and not server_run.is_stopped and request.user.is_authenticated and server_run.user == request.user %}
<tr>
    <td>{% trans "Status" %}</td>
    <td>{{ server_run.status }}<br />
    {% trans "Run automatically at" %} <span class="badge badge-secondary">00:01</span>
    {% if server_run.last_exec %}
        <br />{% trans "Last run" %}<span class="badge badge-secondary">{{server_run.last_exec}}</span>
    {% endif %}
    </td>
</tr>
<tr>
    <td>{% trans "Action" %}</td>
    <td>
        <div class='row'>
        <div class='col-3'>
            <form id="myform" method="POST" action="{% url 'server_run:server-run_stop' server_run.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Stop">
            </form>
        </div>
        <div class='col-6'>
          <a type="submit" class="btn btn-primary"  href="{% url 'server_run:server-run_trigger' server_run.pk %}">{% trans "Fire now" %}</a>
        </div>
        </div>
    </td>
</tr>
{% else %}
<tr>
    <td>{% trans "Status" %}</td>
    <td>{{ server_run.status }}</td>
</tr>
{% endif %}
<tr>
    <td>{% trans "Log" %}</td>
        <td>
            {% for pr in postman_result %}
                {{ pr.postman_test }}
                <ul>
                    <li><a href="{% url 'server_run:server-run_detail_log' pr.server_run.uuid pr.id %}">{% trans "Visualize HTML log" %}</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_log_json' pr.server_run.uuid pr.id %}">{% trans "Visualize JSON log" %}</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_pdf' pr.server_run.uuid pr.id  %}">{% trans "Visualize PDF report" %}</a></li>
                </ul>
            {% endfor %}
        </td>
    </td>
</tr>


{% endspaceless %}
