<p>
    Dear Sir/Mrs,
    <br>
    One or more scheduled tests have been carried out, below are the results of the scheduled tests that have been run by the API Test Platform
    <br>
    You are receiving this e-mail because you configured one or more scheduled provider tests in the VNG API Test Platform.
</p>
<p>
{% if failure %}
Failed:
<ul>
    {% for s in failure %}
        <li>
            <a href="https://{{domain}}{% url 'server_run:server-run_detail' s.0.test_scenario.api.id s.0.uuid %}">
                {{s.0.test_scenario.name}}
            </a>, started at {{s.0.started}}
            {% if s.0.environment.software_product %}
                for product <b>{{s.0.environment.software_product}}</b>
                {% if s.0.environment.supplier_name %}
                    of provider <b>{{s.0.environment.supplier_name}}</b>
                {% endif %}
            {% endif %}
            <ul>
                {% for pr in s.0.postmantestresult_set.all %}
                    <li>
                        Postman collection #{{forloop.counter}}, {{pr.positive_call_result}} calls succeeded, {{pr.negative_call_result}} calls failed.
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% if successful %}
<p>
Successful:
    <ul>
        {% for s in successful %}
            <li>
                <a href="https://{{domain}}{% url 'server_run:server-run_detail' s.0.test_scenario.api.id s.0.uuid %}">
                    {{s.0.test_scenario.name}}
                </a>
                {% if s.0.environment.software_product %}
                    for product <b>{{s.0.environment.software_product}}</b>
                    {% if s.0.environment.supplier_name %}
                        of provider <b>{{s.0.environment.supplier_name}}</b>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</p>
{% endif %}

{% if error %}
<p>
Provider tests where errors occurred:
    <ul>
        {% for s in error %}
            <li>
                <a href="https://{{domain}}{% url 'server_run:server-run_detail' s.0.test_scenario.api.id s.0.uuid %}">
                    {{s.0.test_scenario.name}}
                </a>
                {% if s.0.environment.software_product %}
                    for product <b>{{s.0.environment.software_product}}</b>
                    {% if s.0.environment.supplier_name %}
                        of provider <b>{{s.0.environment.supplier_name}}</b>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</p>
{% endif %}
<p>
    You can find further details by logging in on the <a href="https://{{domain}}">VNG API Test-platform</a>.
    <br />

    If you stop your scheduled tests you will no longer receive these e-mails.
</p>
