{% extends 'master.html' %}
{% load crispy_forms_tags %}
{% load sniplates %}
{% load i18n %}

{% block title %}{% trans "Server run creation" %}{% endblock%}


{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form class="" method="post">{% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        {% trans "Create provider-testrun for scenario:" %} {{ ts }}
                    </div>
                    <div class='card-body'>
                    {% load_widgets form='forms.html' %}
                    {{ form|crispy }}
                    {% comment %} {% for field in form %}
                        {% form_field field %}
                    {% endfor %} {% endcomment %}
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <button class="btn btn-sm btn-primary" type="submit">
                                    <i class="fa fa-dot-circle-o"></i>{% trans "Start" %}</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-sm btn-danger" type="reset" onclick="location.href = {% url 'server_run:test-scenario_list' api_id %};">
                                    <i class="fa fa-ban"></i> {% trans "Cancel" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
