{% extends 'master.html' %}
{% load sniplates %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Server-run detail{% endblock%}

{% block breadcrumb %}
{% breadcrumb "Home" 'server_run:server-run_list' %}
{% breadcrumb 'Detail' 'testsession:sessions' %}
{% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Provider test details
                </div>
                <div class="card-body">
                    <div class='table-responsive'>
                        <table class="table table-striped">
                            <tbody>
                            {% include 'servervalidation/table/table-server-run.html' with server_run=object postman_result=postman_result request=request only %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                {% load_widgets form='forms.html' %}
                <form class="" method="post">{% csrf_token %}
                    <div class="card-header">
                        Update information
                    </div>
                    <div class="card-body">
                        {% for field in form %}
                            {% form_field field %}
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <button class="btn btn-sm btn-primary" type="submit">
                                    <i class="fa fa-dot-circle-o"></i>Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>
{% endblock %}


{% block script %}
<script>
    var gitSnippet = '[![Status badge](https://img.shields.io/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url "apiv1server:provider:api_server-run-shield-detail" object.uuid %})]({{request.scheme}}://{{request.get_host}}{% url 'server_run:server-run_detail_uuid' object.uuid %})'

    var htmlSnippet = '<span display="block" height="20px" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">\n'
            + '<a href="{{request.scheme}}://{{request.get_host}}{% url 'server_run:server-run_detail_uuid' object.uuid %}">\n'
            + '<img style="width:100%" alt="" src="https://img.shields.io/endpoint.svg?style=for-the-badge&amp;\n '
            + 'url={{request.scheme}}://{{request.get_host}}{% url "apiv1server:provider:api_server-run-shield-detail" object.uuid %}"></span></a>'

    function htmlEscape(s) {
        s = s.replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;');
        return s
    }

    function htmlReplace(s){
        s=s.replace(
        /&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
        '<span class="operative">$&<\/span>');
        return s;
    }

    // this page's own source code
    gitSnippet = htmlEscape(gitSnippet);
    gitSnippet = htmlReplace(gitSnippet);


    htmlSnippet = htmlEscape(htmlSnippet);
    htmlSnippet = htmlReplace(htmlSnippet);


    // insert into PRE
    document.getElementById("gitSnippet").innerHTML = gitSnippet;
    document.getElementById("htmlSnippet").innerHTML = htmlSnippet;

</script>
{% endblock %}
