{% extends 'master.html' %}
{% load sniplates %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block title %}{% trans "Providers" %}{% endblock %}


{% block breadcrumb %}
{% if request.user == environment.user %}
    {% breadcrumb "Test scenarios" 'server_run:environment_list' api.id %}
{% endif %}
{% breadcrumb "Provider tests" 'server_run:server-run_list' api_id test_scenario.uuid environment.uuid %}
{% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Provider tests" %}
                    {% if request.user == environment.user %}
                        <a type="submit" class="btn btn-primary float-right ml-2" href="{% url 'server_run:server-run_trigger' api.id environment.uuid %}">{% trans "Start run for this environment" %}</a>
                        {% if environment.scheduledtestscenario %}
                            {% if environment.scheduledtestscenario.active %}
                                <a type="submit" class="btn btn-primary btn-danger float-right"  href="{% url 'server_run:schedule_activate' api.id environment.uuid %}">{% trans "Deactivate schedule" %}</a>
                            {% else %}
                                <a type="submit" class="btn btn-primary btn-success float-right"  href="{% url 'server_run:schedule_activate' api.id environment.uuid %}">{% trans "Reactivate schedule" %}</a>
                            {% endif %}
                        {% else %}
                            <a type="submit" class="btn btn-secondary float-right" href="{% url 'server_run:server-run_create_schedule' api.id environment.uuid %}">{% trans "Add schedule" %}</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <div>
                        <table class="ml-auto mt-auto mr-auto mb-3">
                            <tr><td><h4><b>API:</b> {{ api.name }}</h4></td></tr>
                            <tr><td><h4><b>Test scenario:</b> {{ test_scenario }}</h4></td></tr>
                            <tr><td><h4><b>Environment:</b> {{ environment.name }}</h4></td></tr>
                            {% if environment.scheduledtestscenario %}
                                {% if environment.scheduledtestscenario.active %}
                                    <tr><td><h4>{% trans "Scheduled to run every night at: " %} <b>{{schedule_time|time:"H:i"}}</b></h4></td></tr>
                                {% else %}
                                    <tr><td><h4>{% trans "Schedule is currently not active" %}</h4></td></tr>
                                {% endif %}
                            {% endif %}
                        </table>
                        {% if environment.last_run %}
                            <table class="ml-auto mt-auto mr-auto mb-3">
                                <tr>
                                    <td>
                                        <span display="block" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">
                                            <a href="{% url 'server_run:server-run_latest' api.id test_scenario.uuid environment.uuid %}">
                                                <img style="height:30px"  alt="" src="{{shields_url}}/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url 'apiv1server:latest-badge' environment.uuid %}">
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                    </div>
                    <table class="table">
                        {% include 'servervalidation/table/header-server-run.html' only %}
                        {% for server_run in object_list %}
                            {% if not server_run.scheduled %}
                                {% include 'servervalidation/table/row-server-run.html' with server_run=server_run %}
                            {% endif %}
                        {% endfor %}
                    </table>
		    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <script>
        window.url = window.location.origin +  "/api/v1/provider-run/"
        window.attr_name = 'server_run_uuid'
        window.status = 'status_exec'
        window.percentage = 'percentage_exec'
    </script>
{% endblock %}
