{% extends 'master.html' %}
{% load sniplates %}
{% load i18n %}
{% load inspection %}

{% block title %}{% trans "Test Scenario" %}{% endblock %}


{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">
                    {% trans "Test Scenario" %} {{ object.name }}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ object.description|safe }}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for pt in object.postmantest_set.all %}
                    <div class="col-6 col-lg-3">
                        <div class="card">
                            <div class="card-body p-0 d-flex align-items-center">
                                <i class="cui-bookmark fa bg-info p-4 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-info">
                                    <a href="{{ MEDIA_URL }}{{ pt.validation_file.url }}">{{ pt.validation_file|truncatechars:22 }}</a>

                                    </div>
                                    <div class="text-muted text-uppercase font-weight-bold small">{% trans "Analyze the postman collection" %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for pt in object.postmantest_set.all %}
                <div class="card">
                    <div class="card-header">
                        {% trans "Info" %}: {{ pt.validation_file|info_name }}
                    </div>
                    <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Method" %}</th>
                            <th>{% trans "Url" %}</th>
                        </thead>
                        <tbody>
                            {% for call in pt.validation_file|info_calls %}
                                <tr>
                                    <td>{{ call.name }}</td>
                                    <td>{{ call|build_method }}</td>
                                    <td>{{ call|build_url }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}


