# Feel free to use this for setting environment variables upon deploy
# DJANGO_SETTINGS_MODULE="{{ django_settings_module }}"

SECRET_KEY="{{ django_secret_key }}"
DB_PASS="{{ dbpassword }}"
EMAIL_HOST_PASSWORD="{{ email_host_password }}"

ELASTIC_APM_SERVER_URL="{{ apm_server_url }}"
ELASTIC_APM_SECRET_TOKEN="{{ apm_secret_token }}"
