.card.card-short {
  height: 180px;
}

a.unvisited,
a.unvisited:hover,
a.unvisited:visited,
a.unvisited:active {
  text-decoration: none;
  color: inherit;
}

.case-description {
  color: rgb(56, 56, 255);
}
