.td-20 {
  width: 20%;
}

.td-25 {
  width: 25%;
}

.td-50 {
  width: 50%;
}

.td-75 {
  width: 75%;
}

.scenario-detail {
  table-layout: fixed
}

.scenario-detail tr td:nth-child(1), .scenario-detail tr th:nth-child(1) {
  width: 30%;
}

.scenario-detail tr td:nth-child(3), .scenario-detail tr th:nth-child(3) {
  width: 40%;
}
