{% extends 'master.html' %}
{% load django_bootstrap_breadcrumbs i18n l10n %}

{% block title %}{% trans "Test consumer - Detail session view" %}{% endblock%}

{% block breadcrumb %}
{% breadcrumb "Home" 'design_rules:list' %}
{% breadcrumb 'Detail rule' 'design_rules:detail' uuid=object.uuid %}
{% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Design rule tests -" %} {{ object.api_endpoint }}
                    <a href="{% url 'design_rules:session_create' object.uuid %}" class="btn btn-success float-right"><i class="cui-media-play"></i> {% trans "Start session" %}</a>
                </div>
                {% if object_list.0 %}
                    <div class="card-body">
                        <p id="badge-description"></p>
                        <p>
                            {% blocktrans %}
                                Note: Shields.io caches the badge result for 5 minutes. Check the <a
                                    href="{{url}}">API</a> for
                                direct access.
                            {% endblocktrans %}
                        </p>
                        <span display="block" style='width: 250px;' class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">
                            <a href="{% url 'design_rules:session_detail' object.uuid object_list.0.uuid %}">

                                <img id="badge" style='width:250px' alt="" src="{{shields_url}}/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url 'api_v1_design_rules:design_rule-shield' object_list.0.uuid %}">
                            </a>
                        </span>
                    </div>
                    <div class="card-body">
                        {% blocktrans %}
                            <h5 class="card-title">Markdown snippet</h5>
                            <p>Paste the following in your README.md to show your badge on Github.</p>
                        {% endblocktrans %}
                            <pre class="prettyprint" id='gitSnippet'>
                        <xmp>
                        </xmp>
                        </pre>
                        <button class="btn btn-secondary" onclick="copySnippet('gitSnippet')">Copy markdown snippet</button>
                    </div>
                    <div class="card-body">
                        {% blocktrans %}
                            <h5 class="card-title">HTML snippet</h5>
                            <p>Paste the following in your HTML page to show your badge.</p>
                        {% endblocktrans %}
                            <pre class="prettyprint" id='htmlSnippet'>
                        <xmp>
                        </xmp>
                        </pre>
                        <button class="btn btn-secondary" onclick="copySnippet('htmlSnippet')">Copy HTML snippet</button>
                    </div>
                {% else %}
                    <div class="card-body">
                        {% trans "There are no results yet for this environment." %}
                    </div>
                {% endif %}
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th scope='col'>{% trans "Design rule UUID" %}</th>
                            <th scope='col'>{% trans "Started at" %}</th>
                            <th scope='col'>{% trans "Endpoint" %}</th>
                            <th scope='col'>{% trans "Test version" %}</th>
                            <th scope='col'>{% trans "Successful" %}</th>
                            <th scope='col'>{% trans "Score" %}</th>
                            <th scope='col'>{% trans "Badge" %}</th>
                        </tr>
                        {% for session in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'design_rules:session_detail' object.uuid session.uuid %}">{{ session.uuid }}</a>
                                </td>
                                <td>{{session.started_at|date:"N j, Y, H:i" }}</td>
                                <td>{{ object.api_endpoint }}</td>
                                <td>{{ session.test_version }}</td>
                                <td>
                                    {% if session.successful %}
                                        <i class="cui-check"></i>
                                    {% else %}
                                        <i class="cui-x-circle"></i>
                                    {% endif %}
                                </td>
                                <td>{{ session.percentage_score }}%</td>
                                <td>
                                    <span display="block"  class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">
                                        <a href="{% url 'design_rules:detail' uuid=session.uuid %}">
                                            <img style='height:30px ' alt="" src="{{shields_url}}/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url 'api_v1_design_rules:design_rule-shield' session.uuid %}">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9">
                                    {% trans "There are no sessions yet. Please start a session" %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
    {% if object.request_body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Request body" %}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ object.request_body }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    {% if object.response_body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Response status:" %} {{ object.response_status }}
                </div>
                <div class="card-body">
                    <p class="card-text" id="translate"></p>
                    <p class="card-text" id="json-content" hidden="true">
                        {{ object.response_body|safe  }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
{% endblock %}


{% block script %}
<script>
    function copySnippet(snippetType) {
        snippet = document.getElementById(snippetType);

        var range = document.createRange();
        range.selectNodeContents(snippet);

        var sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(range);

        document.execCommand("copy");

        sel.removeRange(range);
    }

    function htmlEscape(s) {
        s = s.replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;');
        return s
    }

    function htmlReplace(s){
        s=s.replace(
        /&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
        '<span class="operative">$&<\/span>');
        return s;
    }

    function setBadgeInfo() {
        document.getElementById("badge-description").innerHTML = "Shown below is the badge of the most recent provider run with the environment {{ server_run.environment }} that was started by the user <b>{{ object.user }}</b>.";
        var gitSnippet = '[![Status badge]({{shields_url}}/endpoint.svg?style=for-the-badge&url={{changing_badge_url|urlencode}})]({{request.scheme}}://{{request.get_host}}{% url 'api_v1_design_rules:design_rule-shield' object_list.0.uuid %})'

        var htmlSnippet = '<span display="block" height="20px" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">\n'
            + '<a href="{{request.scheme}}://{{request.get_host}}{% url 'api_v1_design_rules:design_rule-shield' object_list.0.uuid %}">\n'
            + '<img style="width:100%" alt="" src="{{shields_url}}/endpoint.svg?style=for-the-badge&url={{changing_badge_url|urlencode}}"></span></a>'

        // this page's own source code
        gitSnippet = htmlEscape(gitSnippet);
        gitSnippet = htmlReplace(gitSnippet);


        htmlSnippet = htmlEscape(htmlSnippet);
        htmlSnippet = htmlReplace(htmlSnippet);

        // insert into PRE
        document.getElementById("gitSnippet").innerHTML = PR.prettyPrintOne(gitSnippet);
        document.getElementById("htmlSnippet").innerHTML = PR.prettyPrintOne(htmlSnippet);
    }

    document.onload = setBadgeInfo();
</script>
{% endblock %}

