{% load i18n %}
{% load flatpages %}
{% get_flatpages as flatpages %}
{% spaceless %}
<nav class="sidebar-nav">
    <ul class="nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
	        <a class="nav-link" href="{% url 'home' %}">
	        <i class="nav-icon cui-home"></i>{% trans "Home" %}</a>
	    </li>

        <li class="nav-title">{% trans "APIs" %}</li>

        {% for api in api_list %}
            <li class="nav-item nav-dropdown ">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon cui-list"></i>{{ api.name }}
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'server_run:environment_list' api.id %}" target="_top">Provider</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'testsession:sessions' api.id %}" target="_top">Consumer</a>
                    </li>
                </ul>
            </li>
        {% endfor %}

    <li class="nav-title">{% trans "API Token manager" %}</li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'apiv1_auth:token-manager' %}">
                <i class="nav-icon cui-list"></i>{% trans "My API Tokens" %}</a>
        </li>
    <li class="nav-title">{% trans "Postman collection generator" %}</li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'server_run:collection_generator' %}">
                <i class="nav-icon cui-list"></i>{% trans "Convert OAS" %}</a>
        </li>
        {% endif %}
    {% comment %} Disable since not mature enough {% endcomment %}
	{% comment %} <li class="nav-title">OpenAPI</li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'open_api_inspector:openapi-inspection' %}">
                <i class="nav-icon icon-magnifier"></i>OpenAPI Inspection</a>
        </li>
    </li> {% endcomment %}
    <li class="nav-title">{% trans "About API Test Platform" %}</li>
        <li class="nav-item ">
            <a class="nav-link" href="https://github.com/VNG-Realisatie/api-testvoorziening">
                <i class="nav-icon cui-info"></i>{% trans "Documentation" %}</a>
        </li>
        {% for flatpage in flatpages %}
            {% if flatpage.url != '/' %}
                <li class="nav-item ">
                    <a class="nav-link" href="/pages{{ flatpage.url }}">
                        <i class="nav-icon cui-info"></i>{{ flatpage.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endspaceless %}

<script>
    var current_url = new URL(window.location.href);
    var path = current_url.pathname.split("/").slice(0, 3).join("/") + "/";

    var link = document.querySelectorAll("a[href='" + path + "']")[0];
    var parent = link.parentElement.parentElement.parentElement;

    link.classList.add("open");
    link.classList.add("active");
    parent.classList.add("open");
</script>
