{% load i18n %}
{% load flatpages %}
{% get_flatpages as flatpages %}
{% spaceless %}
<nav class="sidebar-nav">
    <ul class="nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
	  <a class="nav-link" href="{% url 'testsession:dashboard' %}">
	    <i class="nav-icon icon-speedometer"></i>{% trans "Dashboard" %}</a>
	</li>

        <li class="nav-title">{% trans "Test Consumer" %}</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'testsession:sessions' %}">
              <i class="nav-icon icon-list"></i>{% trans "Consumer session" %}
              <span class="badge badge-light">{{ session_active }}</span>
            </a>
	</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'testsession:session_create' %}">
              <i class="nav-icon icon-note"></i>{% trans "Start session" %}</a>
	</li>
	<li class="nav-title">{% trans "Test Provider" %}</li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'server_run:server-run_list' %}">
	    <i class="nav-icon icon-list"></i>
	    Provider tests</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'server_run:server-run_list_scheduled' %}">
	    <i class="nav-icon icon-clock"></i>
	    Scheduled tests<span class="badge badge-light">{{ server_scheduled }}</span></a>
	  </li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'server_run:server-run_create_item' %}">
	    <i class="nav-icon icon-note"></i>
	    Start testrun</a>
	</li>
    <li class="nav-title">{% trans "API Token manager" %}</li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'apiv1_auth:token-manager' %}">
                <i class="nav-icon icon-list"></i>{% trans "My API Tokens" %}</a>
        </li>
        {% endif %}
    {% comment %} Disable since not mature enough {% endcomment %}
	{% comment %} <li class="nav-title">OpenAPI</li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'open_api_inspector:openapi-inspection' %}">
                <i class="nav-icon icon-magnifier"></i>OpenAPI Inspection</a>
        </li>
    </li> {% endcomment %}
    <li class="nav-title">{% trans "About API Test Platform" %}</li>
        <li class="nav-item ">
            <a class="nav-link" href="https://github.com/VNG-Realisatie/api-testvoorziening">
                <i class="nav-icon icon-info"></i>{% trans "Documentation" %}</a>
        </li>
        {% for flatpage in flatpages %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ flatpage.url }}">
                    <i class="nav-icon icon-info"></i>{{ flatpage.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endspaceless %}
